body {
	margin: 0;
	background-color: #1E1E20;
	font-family: monospace;
	line-height: 1.5;
	font-family: "juliaMono", monospace
}

h1, h2, h3 {
	color: #9900CC;	
	line-height: 1.25;
}

p {
	color: #FFFFFF;
}
