@font-face {
	font-family: "juliaMono";
	src: url("/JuliaMono-Regular.ttf") format ("truetype");
}

body {
	margin: 0;
	background-color: #1E1E20;
	font-family: monospace;
	line-height: 1.5;
	font-family: "juliaMono", monospace;
	text-align: center;
}

h1, h2, h3 {
	color: #9900CC;	
	line-height: 1.25;
}

p {
	max-width: 80px;
	color: #FFFFFF;
}
