@font-face {
	font-family: "juliaMono", monospace;
	src: url("/JuliaMono-Regular.ttf") format ("truetype");
}

@font-face {
	font-family: 'Lato', sans-serif;
	src: url("/blogs/Lato-Regular.ttf") format ("truetype");
}

/* formatting for the navigation bar */
header {
	display: flex;
	padding-left: 40px;
	padding-top: 10px;
	margin: auto;
	justify-content: flex-start;
}

body {
	margin: 0 auto;
	background-color: #1E1E20;
	line-height: 1.5;
	font-family: "juliaMono", monospace;
	text-align: center;
	color: #FFFFFF;
}

nav {
	text-align: left;
	max-width: none;
}

h1 {
	color: #9900CC;	
	line-height: 1.25;
}

h2 {
	line-height: 1.5;
}

footer {
	padding-top: 20px;
}

a {
	color: #CC33FF;
}

/* main text container */
	.mainContainer {
		max-width: 700px;
		margin: 0 auto;
	}

/* blogContainer for /blogs.html */
	.blogContainer {
		text-align: left;
		margin: 0 auto;
		color: white;
		line-height: 1;
		max-width: 900px;
		font-family: 'Lato', 'sans-serif'
	}

	.blogContainer a {
		color: white;
	}
